<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>Login</h1>

    <!-- Flashed messages -->
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="{{ category }}">
        {{ message }}
    </div>
    {%- endfor %}

    <!-- Login form -->
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
