<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SocialMediaService</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages-general.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/home">Home</a></li>
        <li style="float:right"><a class="active" href="/create-post">Create Post <span style="font-weight:bold">+</span></a></li>
      </ul>
    </nav>

    <div class="scroll">

    <h1>Welcome, {{ username }}!</h1>

    <!-- Flashed messages -->
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="{{ category }}">
        {{ message }}
    </div>
    {%- endfor %}

    <!-- Welcome Content -->
    <img src="{{ url_for('static', filename='images/welcome.jpg') }}" alt="Welcome Image">
    <br>


    <!-- Feed Content -->
    <h4>Your Feed:</h4>
    {%- for post in posts %}
    <!--By {{ post.username }} at {{ post.data.timePosted }}: {{ post.data.text }}<br>-->
      <iframe src="iframes/iframe-post?username={{post.username}}&text={{post.data.text}}" style="width: 302px; height:143px" seamless></iframe><br>
    {%- endfor %}
    </div>

    <footer>
      <p>&copy; 2023 3155 Project Site. All rights reserved.</p>
    </footer>

  </body>
</html>
