<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SocialMediaService</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>Welcome, {{ username }}!</h1>

    <!-- Flashed messages -->
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="{{ category }}">
        {{ message }}
    </div>
    {%- endfor %}

    <!-- Content -->
    <img src="{{ url_for('static', filename='images/welcome.jpg') }}" alt="Welcome Image">
  </body>
</html>
