<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SocialMediaService</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages-general.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        {%- if username == None %}
        <li><a href="/login">Log In</a></li>
        {%- else %}
        <li><a href="/logout">Log Out</a></li>
        {%- endif %}
        <li><a href="/home">Home</a></li>

        {%- if username != None %}
        <li style="float:right"><a class="active" href="/create-post">Create Post <span style="font-weight:bold">+</span></a></li>
        {%- endif %}
      </ul>
    </nav>

    <div class="scroll">


      {%- if username == None %}
      <h1>Browsing as Guest</h1>
      {%- else %}
      <h1>Welcome, {{ username }}!</h1>
      {%- endif %}


    <!-- Flashed messages -->
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="{{ category }}">
        {{ message }}
    </div>
    {%- endfor %}

    <!-- Welcome Content -->
    <img src="{{ url_for('static', filename='images/welcome.jpg') }}" alt="Welcome Image">
    <br>


    <!-- Feed Content -->
    <h4>Your Feed:</h4>
    <script src="{{ url_for('static', filename='js/iframe-post.js') }}"></script>
    {%- for post in posts %}
      <div>
          <iframe src="iframes/iframe-post" style="width: 302px; height:{{143}}px" id="iframe-post-{{post.data.uid}}" onload="onLoad_iframe_post_{{post.data.uid}}();" seamless></iframe>
          {%- if post.username == username %}
          <div style="display: inline-block;bottom: {{109}}px; position: relative;width: fit-content;text-align: left;">
            <a href="/editpost/{{post.data.uid}}" style="color:white">Edit</a><br>
            <a href="/removepost/{{post.data.uid}}" style="color:white">Remove</a>
          </div>
          {%- endif %}

        <script>
          function onLoad_iframe_post_{{post.data.uid}}() {
          load_post(document.getElementById("iframe-post-{{post.data.uid}}"), decodeURIComponent("{{post.text}}"), "{{post.username}}", "{{post.timePostedText}}");
          }
        </script>
      </div>
    {%- endfor %}
    </div>

    <footer>
      <p>&copy; 2023 ITSC-3155 Group 10. All rights reserved.</p>
    </footer>

  </body>
</html>
